*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
header nav{
    height: 70px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(75, 0, 224, 0.658), rgba(141, 45, 226,0.658)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(75, 0, 224, 0.658), rgba(141, 45, 226,0.658)); /*3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 1;
}
.icon{
    display: none;
}
.logo{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 20px;
    font-weight: 300;
}
.logo a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.links {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.links a{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 4px 20px;
    transition: 0.7s ease-out;
    color: #fff;
    text-decoration: none;
}
.links a:hover{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.hero{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(75, 0, 224, 0.658), rgba(141, 45, 226,0.658)), url("img/header.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(75, 0, 224, 0.658), rgba(141, 45, 226,0.658)), url("img/header.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 650px;
}
.texts-hero{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: moveUp 1s ease-in;
    margin-top: 60px;
}
.texts-hero h1{
    font-size: 3.5em;
    text-align: center;
}
.texts-hero h2{
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
    width: 70%;
    margin-top: 10px;
}
.texts-hero p{
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}
.texts-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #a18cd1;
    border-radius: 8px;
    color: #fff;
}
.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.svgHeroInactive{
    z-index: -1;
}
.skills-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.skills{
    background: #ddd;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.arrow{
   display: none;
}

/*GENERAL STYLES*/
.container, .wave-container{
    width: 90%;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.container{
    padding: 80px 0;
}
.title{
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
}
.title.left {
    text-align: left;
}
.title.right {
    text-align: right;
}
.resume{
    display: flex;
    justify-content: space-between;
}
.resume img{
    width: 48%;
}
.resume .container-texts{
    width: 40%;
}
.action{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(75, 0, 224, 0.658), rgba(141, 45, 226,0.658));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(75, 0, 224, 0.658), rgba(141, 45, 226,0.658)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*INFO*/
.info{
    background: #8E2DE2;
    color: #fff;
    padding: 0 40px;
}

/*CARDS*/
.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    text-align: center;
    height: auto;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    border-radius: 10px;
    margin-top: 28px;
    padding: 25px;
}
.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}
.card i{
    margin: 30px 0 20px 0;
    color: #8E2DE2;
    font-size: 50px;
}
.card p{
    font-weight: 300;
    font-size: 1em;
    width: 100%;
    margin: auto;
    margin: 20px 0;
    padding: 0 20px;
}

/*FOOTER*/
footer{
    background: #8E2DE2;
    color: #fff;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}
.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px  solid #fff;
    padding: 20px 10px;
    border-radius: 10px;
}
.input::placeholder{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 30%;
    margin-bottom: 30px;
}
.form textarea{
    width: 100%;
    margin-bottom: 15px;
}
input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
    border-radius: 8px;
    margin-top: 10px;
}
input[type="submit"]:hover{
    cursor: pointer;
    color: #8E2DE2;
    background: #fff;
}
.text-contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text-contact .text{
    font-size: 1.3em;
    text-align: center;
    line-height: 2;
}
.text-contact a{
    text-decoration: none;
    color: #fff;
}
.img-profile img{
    width: 200px;
    border-radius: 100%;
}
.copy{
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
}

.btnPay{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    color: #8E2DE2;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 20px 20px;
    width: 30%;
    min-width: 250px;
    text-align: center;
    margin: auto;
}
.btnPay:hover{
    color: #fff;
    background: #a18cd1;
}
.btnDonate{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: #a18cd1;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 8px 10px;
    width: 20%;
    min-width: 250px;
    text-align: center;
    margin: auto;
}
.btnDonate:hover{
    color: #fff;
    background: #8E2DE2;
}
.btnPay-container{
    margin-top: 60px;
}
.btnDonate-container{
    margin-top: 30px;
}
.work_p{
    line-height:1.5; 
    font-size: 1.5em; 
    margin-bottom: 30px;
}
.donate-text{
    color: #777;
}

/* BLOG */
.items-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 50px;
}
.card-blog{
    width: 30%;
    text-align: center;
    height: auto;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    border-radius: 10px;
    margin-top: 28px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background: #fff;
    min-width: 280px;
}
.card-blog:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}
.card-blog a{
    text-decoration: none;
}
.card-blog a:active{
    color: #8E2DE2;
}
.card-blog img{
    width: 100%;
    margin: auto;
}
.labels-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.labelPosts{
    font-size: 1.2em;
}
.labelPostsResume{
    font-size: 1em;
    margin-top: 5px;
    color: #777;
}
.items-detail-container article{
    padding: 20px;
    font-size: 1.2em;
    line-height: 2;
    font-weight: 300;
}
.hashtags-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.hashtag{
    padding: 10px;
    background: #8E2DE2;
    color: #fff;
    border-radius: 8px;
    margin: 10px;
}
.comments-container{
    text-align: center;
    margin: 50px 0;
    color: #a18cd1;
}
.post-subtitle{
    font-weight: bold;
}
.post-subtitle-subtitle{
    color: #551A8B;
}
.post-subtitle-subtitle a{
    text-decoration: none;
}
.post-subtitle-subtitle a:hover{
    color: #8E2DE2;
}
.items-detail-container{
    padding: 40px 100px;
}
/* END BLOG */

@media screen and (max-width: 1140px){
    .resume img{
        width: 30%;
    }
    .resume .container-texts{
        width: 60%;
    }
}
@media screen and (max-width:868px){
    header nav{
        z-index: 9999999;
    }
    .texts-hero{
        margin-top: 40px;
    }
    .resume{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .title.left{
        text-align: center;
    }
    .resume img{
        width: 60%;
        margin-top: 20px;
    }
    .resume .container-texts{
        width: 80%;
    }
    .card{
        width: 90%;
        margin-bottom: 20px;
    }
    .icon{
        display: flex;
        height: 70px;
        color: #fff;
        background: #8E2DE2;
        align-items: center;
        padding: 20px;
        z-index: 1;
        cursor: pointer;
        position: absolute;
        right: 0;
    }
     /*LLEVA EL MENU HORIZONTAL A VERTICAL PARA MOVIL*/
     .links{
        position: fixed;
        height: 100vh;
        flex-direction: column;
        transition: all 1s ease;
        background: #8E2DE2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, rgba(75, 0, 224, 1), rgba(141, 45, 226, 1));  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, rgba(75, 0, 224, 1), rgba(141, 45, 226, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 100%;
        font-size: 2em;
        justify-content: space-around;
    }
    .inactive{
        -webkit-clip-path: circle(0 at 100% 0);
        clip-path: circle(0 at 100% 0);
    }
    .active{
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);
    }
    .skills-container{
        overflow-x: scroll;
    }
    .arrow{
        display: block;
        color: #8E2DE2;
        margin-left: 15px;
        margin-bottom: 30px;
    }
    .skills-container{
        margin-bottom: 0;
    }
    input[type="text"], 
    input[type="email"]{
        display: inline-block;
        width: 100%;
    }
    input[type="submit"]{
        width: 100%;
    }
    .form{
        padding: 0 20px;
    }
    .info{
        background: #8E2DE2;
        color: #fff;
        padding: 0 5px;
    }
    /*BLOG*/
    .card-blog{
        width: 40%;
    }
    .items-detail-container{
        padding: 40px 60px;
    }
}
 /*BLOG*/
@media screen and (max-width: 652px){
    .card-blog{
        width: 100%;
    }
    .texts-hero h2{
        width: 90%;
    }
}
 /*END BLOG*/
@media screen and (max-width: 580px){
    .text-contact{
        flex-direction: column-reverse;
    }
    .skills-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .items-detail-container{
        padding: 40px 20px;
    }
}
@keyframes moveUp {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}